# Backend API URL
## For local development
REACT_APP_API_URL=http://localhost:5000
## For production
# REACT_APP_API_URL=https://your-backend-url.com

# ESLint
DISABLE_ESLINT_PLUGIN=false
FAST_REFRESH=true
GENERATE_SOURCEMAP=true

# Admin/Dashboard paths (change these to custom values)
REACT_APP_ADMIN_PATH=<your-admin-path>
REACT_APP_DASHBOARD_PATH=<your-dashboard-path>
